NODE_ENV=development
AUTH_HOST=json-to-yaml-auth
AUTH_PORT=8000
CONVERTER_PORT=8001
CONVERTER_HOST=json-to-yaml-converter
LOG_LEVEL=info
POSTGRES_DB=json-to-yaml
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_HOST=json-to-yaml-db
GITHUB_CLIENT_ID=<your_github_client_id>
GITHUB_CLIENT_SECRET=<your_github_client_secret>
GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback
REDIS_ADDR=json-to-yaml-redis:6379
AUTH_OTEL_SERVICE_NAME=auth-service
CONVERTER_OTEL_SERVICE_NAME=converter-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://json-to-yaml-collector:4318
OTEL_NODE_ENABLED_INSTRUMENTATIONS=http,fastify,redis,pg,undici
